
/* Latest CSS */
.Rectangle {
    width: 100%;
    height: 255px;
   /* background-color: #353e54;*/
 
  }
 .Microbiology-Challenge {
    width: 100%;
    height: auto;
    background-color:#edf4f8;
  }
  .table_body{
    border-bottom: 1px solid #dbdfe4;
    border-left: 1px solid #dbdfe4;
    border-top: 2px solid #dbdfe4;
  }
  .br-left{
    border-left: 4px solid #5080f8 !important;
  }
  .criteria{
    padding-top: 3%;
  }
  .label{
      color:#fff;
  }
  .pt-4, .py-4 {
    padding-top: 2.0rem!important;
}
  .bg-dark {
   /* background-color: #353e54!important;*/
   background-color: #353e5400 !important;
  }

  .mat-tab-nav-bar {
    border-bottom: 2px solid #434d64;
    /* left: 30%; */
    /* right: 20%; */
     width: 300px; 
}

.labels {
    font-family: OpenSans !important; 
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  
  .btn-primary {
    color: #fff;
    background-color:#f25f5c;
    border-color: #f25f5c !important;
}

.clear{
    background-color:  #353e5430;
    border-color: #e0cfcf !important;
}
.btn-primary:focus {
    box-shadow: none !important;
}
.titles{
    font-family: AkzidenzGrotesk;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #151515 !important;
}

.sub_titles{
font-family: Arial;
font-size: 13px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
color: #151515;
line-height: 190%;
}

.sub_titles_content{
    font-family: Arial;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color:  #4d4e4e;
    line-height: 190%;
    }

    .organisms{
         font-family: AkzidenzGrotesk;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2b3b4c; 
    text-align:center;
    }
    .organisms_bacteria{
        font-family: AkzidenzGrotesk;
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #2b3b4c; 
     
    }

    .Confidence {
        font-family: Arial;
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
       text-align: right;
      color: #31394d;
       line-height: 196%;
      }  

      .confidence_value {
      
        font-family: Arial;
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #f0f1f4;
      }   
      
.confidence_cat { 
 font-family: Arial;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  line-height: 27px;
  color: #f0f1f4;
    }
    .criteria_content {
        font-family: AkzidenzGrotesk;
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #2b3b4c;
        text-align: right;
    }
   p{
    margin-bottom: 0em;
    font-size: 13px;
    font-family: arial;
   } 
   
   .mat-tab-header {
    display: flex;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    width: 1236px !important;
    border-bottom: 1px solid rgba(199, 184, 184, 0.4) !important;
}

input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 4;
}