
/* Latest CSS */
.Rectangle {
    width: 100%;
    height: 353px;
  }
 .Microbiology-Challenge {
    width: 100%;
    height: auto;
    background-color:#edf4f8;
  }
  .table_body{
    border-bottom: 1px solid #dbdfe4;
    border-left: 1px solid #dbdfe4;
    border-top: 2px solid #dbdfe4;
  }
  
.col-2 {
  flex: 0 0 16.666667%;
  max-width: 20.666667%;
}
  option {
    overflow: hidden;
    text-overflow: ellipsis;
}
  .br-left{
    border-left: 4px solid #5080f8 !important;
  }
  .title{
  color: #fff;
    font-family: Arial;
    font-size: 14px;
}
  .criteria{
    padding-top: 3%;
  }
  .label{
      color:#fff;
  }
  .pt-4, .py-4 {
    padding-top: 2.0rem!important;
}
  .bg-dark {
 background-color: #343a4000!important;
  }
.mat-tab-nav-bar {
    border-bottom: 2px solid #434d64;
    width: 300px; 
}

.labels {
    font-family: OpenSans !important; 
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  .btn-primary {
    color: #fff;
    background-color:#f25f5c;
    border-color: #f25f5c !important;
}
.clear{
    background-color:  #353e5430;
    border-color: #e0cfcf !important;
}
.btn-primary:focus {
    box-shadow: none !important;
}
.titles{
    font-family: AkzidenzGrotesk;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #151515 !important;
}
 p{
    margin-bottom: 0em;
    font-size: 13px;
    font-family: arial;
   }    
 .col-1 {
    flex: 0 0 8.333333%;
    max-width: 11.333333%;
}
.mat-checkbox-frame {
    background-color: transparent;
    transition: border-color 90ms cubic-bezier(0,0,.2,.1);
    border-width: 0;
    border-style: none !important;
    border:none !important;
}

.test2 {
    white-space: nowrap; 
    width: 100px; 
    overflow: hidden;
    text-overflow: ellipsis;
  }
.sub_titles{
    font-family: Arial;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #151515;
    line-height: 190%;
    }
 .sub_titles_content{
        font-family: Arial;
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color:  #4d4e4e;
        line-height: 190%;
   }
   ::-webkit-scrollbar {
    width: 5px;
    height: auto;
}
::-webkit-scrollbar-track-piece {
    background:rgb(233, 230, 230);
}
::-webkit-scrollbar-thumb {
    background:#f25f5c;
}  


  