<!--------<div class=" Rectangle" >
    <h1 class="heading Welcome-to-Product-A" >Welcome to Product Assistant</h1>
    <p class="para An-innovation-platfo ">An Innovation plotform for predictive models </p>
   
   
  <div class="container">
    <div class="row">
      
        <div class="col-sm-3">
          <img src="../assets/images/microbiology@3x.png"  class=" Microbiology" alt="microbiology" />
          <p class=" Microbiology-Challen">Microbiology Challenge Tests</p>
          
        </div>
        <div class="col-sm-3">
            <img src="../assets/images/analytical.png" class="Analytical"  alt="Analytical Challenge Tests" />
          <p class=" Analytical-Dosage-Te">Analytical Challenge Tests</p>
          
        </div>
        <div class="col-sm-3">
            <img src="../assets/images/physical.png"  class="Physical" alt="Physical Stability"  />
          <p class="Physical-Stability">Physical Stability</p>        
         
        </div>
        <div class="col-sm-3">
            <img src="../assets/images/allergy@2x.png"  class="Allergy" alt="Physical Stability" />
            <p class="Allergy-Predictive">Allergy Predictive</p>        
           
          </div>
      </div>  -->



<div class="container-fluid ">
  <h1 class="heading Welcome-to-Product-A ">Welcome to Product Assistant</h1>
  <p class="An-innovation-platfo ">An innovation platform for predictive models </p>
  <!---- <div class="row">
         
              <div class="col-sm-2">
              <div class="card text-center" style="width: 18rem;    border: 0;">
                  <div class="card-body">
                      <img class="card-img-top Microbiology"  src="../assets/images/microbiology@3x.png" alt="Card image cap">
                    <h5 class="card-title">Microbiology Challenge Tests</h5>
                   
                  </div>
                </div>
                </div>

                <div class="col-sm-2">
                    <div class="card text-center" style="width: 18rem;    border: 0;">
                        <div class="card-body">
                            <img class="card-img-top Analytical" src="../assets/images/analytical.png" alt="Card image cap">
                          <h5 class="card-title">Analytical Challenge Tests</h5>
                         
                        </div>
                      </div>
                      </div>

                      <div class="col-sm-2">
                          <div class="card text-center" style="width: 18rem;    border: 0;">
                              <div class="card-body">
                                  <img class="card-img-top Analytical" src="../assets/images/physical.png" alt="Card image cap">
                                <h5 class="card-title">Physical Stability</h5>
                               
                              </div>
                            </div>
                            </div>

                            <div class="col-sm-2">
                                <div class="card text-center" style="width: 18rem;    border: 0;">
                                    <div class="card-body">
                                        <img class="card-img-top Physical" src="../assets/images/allergy@2x.png" alt="Card image cap">
                                      <h5 class="card-title">Allergy Predictive</h5>
                                     
                                    </div>
                                  </div>
                                  </div>

                                  <hr>
        </div>-->

  <div class="container">
    <div class="card-deck">
      <div class="card " style="border: none;">
        <div class="card-body text-center">
            <a routerLink="/microbiology"> <img class="card-img-top Microbiology" src="../assets/images/microbiology.png" alt="Card image cap"></a>

          <p class="homePage-text mt-2  mr-5 ml-2 ">Microbiology Challenge Tests</p>
        </div>
      </div>
      <div class="card "  style="border: none;">
        <div class="card-body text-center" >
         <a routerLink="/dosage"> <img class="card-img-top Analytical" src="../assets/images/analytical.png" alt="Card image cap"></a>
          <p class="homePage-text mt-2  mr-5 ml-5 ">Analytical Dosage Tests</p>
        </div>
      </div>
      <div class="card "  style="border: none;">
        <div class="card-body text-center" >
          <img class="card-img-top Analytical" src="../assets/images/physical.png" alt="Card image cap">
          <p class="homePage-text mt-2  mr-5 ml-5">Physical Stability</p>
        </div>
      </div>
      <div class="card "  style="border: none;">
        <div class="card-body text-center" >
          <img class="card-img-top Physical" src="../assets/images/allergy.png" alt="Card image cap">
          <p class="homePage-text mt-3  mr-5 ml-5">Allergy Predictive </p>
        </div>
      </div>
      <hr>
    </div>

    <div class="row">
        <div class="col-sm-6">
          <div class="card styling_crd">
            <div class="card-body">
            
              <img src="../assets/images/line-graph.png" class="img_stly" />
              <p class="card-text">Regulatory Insights</p>
             
            </div>
          </div>
        </div>
        <div class="col-sm-6">
            <div class="card styling_crd">
              <div class="card-body">
              
                <img src="../assets/images/chart.png" class="img_stly" />
                <p class="card-text">Product Traceability</p>
               
              </div>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-6">
            <div class="card styling_crd">
              <div class="card-body">
              
                <img src="../assets/images/line.png" class="img_stly"/>
                <p class="card-text">Health Authority Submissions</p>
               
              </div>
            </div>
          </div>
          <div class="col-sm-6">
              <div class="card styling_crd">
                <div class="card-body">
                
                  <img src="../assets/images/image-recog.png" class="img_stly"/>
                  <p class="card-text"> Image Recognition</p>
                 
                </div>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
              <div class="card styling_crd">
                <div class="card-body">
                
                    <img src="../assets/images/chart.png" class="img_stly" />
                  <p class="card-text"> Detecting Adverse Events and Effects</p>
                 
                </div>
              </div>
            </div>
            <div class="col-sm-6">
                <div class="card styling_crd">
                  <div class="card-body">
                  
                      <img src="../assets/images/line-graph.png" class="img_stly" />
                    <p class="card-text">Worker Bots</p>
                   
                  </div>
                </div>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-6">
                <div class="card styling_crd">
                  <div class="card-body">
                  
                      <img src="../assets/images/line-graph.png" class="img_stly" />
                    <p class="card-text"> Clinical Trials</p>
                   
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                  <div class="card styling_crd">
                    <div class="card-body">
                    
                        <img src="../assets/images/line.png" class="img_stly" />
                      <p class="card-text"> Issue Detection</p>
                     
                    </div>
                  </div>
                </div>
            </div>
        


  </div>

 <!----<div class="row row_boxes ">
    <div class="row  justify-content-around row_pading_boxes ">
      <div class="col-sm-6  align-self-center buttons_styles " style="flex: 25%;">
        <img src="../assets/images/line-graph.png" class="img_icons" />
        <div class="card card-block" style="border:0">
          <div class="titles_style">Regulatory Insights

          </div>

        </div>
      </div>
      <div class="col-sm-6 align-self-center buttons_styles" style="     margin-left: 44px;flex: 25%;">
        <img src="../assets/images/chart.png" class="chart" />
        <div class="card card-block" style="border:0">
          <div class="titles_style">
            Product Traceability
          </div>
        </div>
      </div>
    </div>
    <div class="row row_pading_boxes">
      <div class="col-sm-6 align-self-center buttons_styles" style=" flex: 25%;">
        <img src="../assets/images/line.png" class="line" />
        <div class="card card-block" style="border:0">
          <div class="titles_style">
            Health Authority Submissions
          </div>

        </div>
      </div>
      <div class="col-sm-6 align-self-center buttons_styles" style="    margin-left: 44px;flex: 25%;">
        <img src="../assets/images/image-recog.png" class="img_recog" />
        <div class="card card-block" style="border:0">
          <div class="titles_style">
            Image Recognition
          </div>
        </div>
      </div>
    </div>
    <div class="row row_pading_boxes">
      <div class="col-sm-6 align-self-center buttons_styles" style=" flex: 25%;">
        <img src="../assets/images/chart.png" class="chart" />
        <div class="card card-block" style="border:0">
          <div class="titles_style">
            Detecting Adverse Events and Effects
          </div>
        </div>
      </div>
      <div class="col-sm-6 align-self-center buttons_styles" style="    margin-left: 44px; flex: 25%;">
        <img src="../assets/images/line-graph.png" class="img_icons" />
        <div class="card card-block" style="border:0">
          <div class="titles_style">
            Worker Bots
          </div>
        </div>
      </div>
    </div>
    <div class="row row_pading_boxes">
      <div class="col-sm-6 align-self-center buttons_styles" style=" flex: 25%;">
        <img src="../assets/images/line-graph.png" class="img_icons" />
        <div class="card card-block" style="border:0">
          <div class="titles_style">
            Clinical Trials
          </div>
        </div>
      </div>
      <div class="col-sm-6 align-self-center buttons_styles" style=" margin-left: 44px;flex: 25%;">
        <img src="../assets/images/line.png" class="line" />
        <div class="card card-block" style="border:0">
          <div class="titles_style">
            Issue Detection
          </div>
        </div>
      </div>
    </div>
  </div>-->

</div>

  
 
   