
<div class="Microbiology-Challenge">

    <div class="Rectangle" style="background-image:url(./assets/images/background.png);background-repeat: no-repeat; background-position-y: bottom;">
      <div style="background-color: #353e54d4;height: 255px;">
        <div class="card bg-dark" style="border:none; ">
          <div class="card-body">
  
           <app-create-list></app-create-list>
          <!----<mat-tab-group>
              <mat-tab label="Microbiology Challenge">-->
                <div>
                  <div class=" bg-dark mr-4 ml-4 mt-4 " style="border:none; background-image:url(./assets/images/search-bg.png);">
                    <div class="row" style="padding: 22px;">
                     
                   
                <form [formGroup]="formdata" style="width: 100%; display: inline-flex;">

                    <div class=" col-3">
                      <label class="labels">Formula Number </label>
                      <input type="email" class="form-control" name="fname" formControlName="fname" id="formGroupExampleInput"
                        placeholder="Formula No." style=" font-size: 14px !important;" autocomplete="off" [value]="searchValue">
                    </div>
                    <div class="col-2">
                      <label class="labels">Package Type</label>
                      <select class="form-control " name="pname" formControlName="pname" style=" font-family: OpenSans;font-size:13px">
                        <option value="" disabled>Select Package Type</option>
                        <option *ngFor="let pt of pakageTypearr" [value]="pt">{{pt}}</option>
                      </select>
                    </div>
                    <div class="  col-2">
                      <label class="labels">Package Volume </label>
                      <input type="email" class="form-control" name="plname" formControlName="plname" placeholder="Package Volume"
                        style="font-size: 14px !important;">
                    </div>
                   <div class="col-4 pt-4 text-right">
                      <button type="button" class="btn btn-primary mr-2"   [disabled]="!getIngredients"  (click)="onFormulaSearch(formdata.value)">Get
                        ingredients</button>
                      <button type="button" class="btn btn-primary mr-2 " (click)="onSubmitIngrediant(formdata.value)"
                        [disabled]="!ratiovalues">Search </button>
                      <button type="clear" class="btn btn-primary clear" (click)="clearSearch()">Clear</button>
  
                    </div>
  
                  </form>

                    <!----  <form [formGroup]="formdata" style="width: 100%; display: inline-flex;" autocomplete="off">
                        <div class="  col-4">
                          <label class="labels">Formula Number </label>
                          <input type="text" class="form-control" name="fname" formControlName="fname" id="formGroupExampleInput"
                            placeholder="Formula No." autocomplete="off">
                        </div>
                        <div class="col-2">
                          <label class="labels">Package Type</label>
                          <select class="form-control " name="pname" formControlName="pname" style=" font-family: OpenSans;font-size:13px">
                            <option value="" class="labels">Select Package Type</option>
                            <option *ngFor="let pt of pakageTypearr" [value]="pt">{{pt}}</option>
                          </select>
                        </div>
                        <div class="col-2">
                          <label class="labels">Category</label>
                          <select class="form-control" id="category" name="country" formControlName="category" style=" font-family: OpenSans;font-size:13px">
                            <option value="" class="labels">Select Category</option>
                            <option *ngFor="let country of category" [value]="country.value">{{country.name}}</option>
                          </select>
                        </div>
                        <div class="col-2">
                          <label class="labels">Sub Category</label>
                          <select class="form-control " id="state" name="state" formControlName="subcategory" style=" font-family: OpenSans;font-size:13px">
                            <option value="" class="labels">Select Sub Category</option>
                            <option *ngFor="let state of sub_category" [value]="state.value">{{state.name}}</option>
                          </select>
                        </div>
                        <div class="col-2 pt-4 text-right">
                          <button type="button" class="btn btn-primary mr-2  " (click)="onClickSubmit(formdata.value)">Search</button>
                          <button type="clear" class="btn btn-primary clear" (click)="clearSearch()">Clear</button>
                        </div>
                      </form>-->

                    </div>
                  </div>
                </div>
                <div>
                  <div class="card mr-4 ml-4 mb-4"  style="margin-top:7px;box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);background-color: #ffffff; border-radius: 5px;">
                      <div class="card-body">
                          <div class="row">
                            <div class="col-9">
                              <div class="row">
                                <div class="col-12">
                                  <h6 class="card-subtitle mb-2 text-muted titles">Project Details</h6>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-3 sub_titles"> Project Name</div>
                                <div class="col-3 sub_titles_content"> <span *ngIf="checking">{{projectDetails.projectName}}</span></div>
                                <div class="col-3 sub_titles">Formula</div>
                                <div class="col-3 sub_titles_content"> <span *ngIf="checking">{{projectDetails.formula}}</span></div>
                    
                              </div>
                              <div class="row">
                                <div class="col-3 sub_titles">Test Article</div>
                                <div class="col-3 sub_titles_content"><span *ngIf="checking">{{projectDetails.testArticle}}</span></div>
                                <div class="col-3 sub_titles">Batch Type</div>
                                <div class="col-3 sub_titles_content"><span *ngIf="checking">{{projectDetails.batchType}}</span></div>
                              </div>
                              <div class="row">
                                <div class="col-3 sub_titles"> Product</div>
                                <div class="col-3 sub_titles_content"> <span *ngIf="checking">{{projectDetails.product}}</span></div>
                                <div class="col-3 sub_titles">Bulk Lot #</div>
                                <div class="col-3 sub_titles_content"> <span *ngIf="checking">{{projectDetails.blulkLot}}</span></div>
                              </div>
                            </div>
                            <div class="col-3">
                            </div>
                          </div>
                          <div id="processing" class="spinner_class" *ngIf="loader">
                            <mat-spinner [diameter]="60" style="right:50%;left:50%;z-index: 1000"></mat-spinner>
                          </div>
                        </div>
                  </div>
  
  
                  <div class="card mr-4 ml-4 mb-4" style="box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);    background-color: #edf4f82e ;border-radius: 5px;">
                  
                    <div class="row">
                             <div class="col-6" >
                                <div class="card">
                                    <h4 class="card-title p-4  titles">oC/Ambient RH</h4>
                                  <div class="row card-body text-center">
                                  <div class="row justify-content-center align-self-center col-2"> 
                                   <span   style=" color: #4a4a4a; font-size:18px">pH</span>
                                    </div>
                                   <div class="col-5" >
                                      <circle-progress 
                                        [percent]='percent'
                                        [radius]="60" 
                                        [outerStrokeWidth]="10" 
                                        [outerStrokeColor]="'#4882c2'" 
                                        [animation]="true" 
                                        [subtitle]="'Confidence'"
                                        [animationDuration]="300">
                                      </circle-progress>
                                      <p class="sub_titles"><b>+30%</b>
                                      1 Month</p>
                                    </div>
                          
                                    <div class="col-5" >
                                         <circle-progress 
                                          [percent]="90" 
                                          [radius]="60" 
                                          [outerStrokeWidth]="10" 
                                          [outerStrokeColor]="'#f25f5c'" 
                                          [animation]="true" 
                                          [subtitle]="'Confidence'"
                                          [animationDuration]="300">
                                        </circle-progress>
                                         <p class="sub_titles"><b>+45%</b>
                                          3 Months</p>
                                      </div>
                                   </div>
                          
                                <mat-divider [inset]="true"></mat-divider>
                                <div class="row card-body text-center">
                                          
                                          <div class="row justify-content-center align-self-center col-3"> 
                                           <span   style=" color: #4a4a4a; font-size:18px">Viscosity</span>
                                           </div>
                                     <div class="col-4" >
                                      <circle-progress 
                                        [percent]="90" 
                                        [radius]="60" 
                                        [outerStrokeWidth]="10" 
                                        [outerStrokeColor]="'#4882c2'" 
                                        [animation]="true" 
                                        [subtitle]="'Confidence'"
                                        [animationDuration]="300">
                                      </circle-progress>
                                      <p class="sub_titles"><b>+40%</b>
                                      1 Month</p>
                                    </div>
                          
                                   
                                      <div class="col-4">
                                        <circle-progress 
                                          [percent]="90" 
                                          [radius]="60" 
                                          [outerStrokeWidth]="10" 
                                          [outerStrokeColor]="'#f25f5c'" 
                                          [animation]="true" 
                                          [subtitle]="'Confidence'"
                                          [animationDuration]="300">
                                        </circle-progress>
                                            <p class="sub_titles"><b>+45%</b>
                                          3 Months</p>
                                        </div>
                                    </div>
                                 </div>
                             </div>
                          


                              <div class="col-6">
                                <div class="card">
                                    <h4 class="card-title p-4 titles">25oC/60% RH</h4>
                                  <div class="row card-body text-center">
                                   <div class="row justify-content-center align-self-center col-3"> 
                                       <span   style=" color: #4a4a4a; font-size:18px">PH</span>
                                       </div>
                                       <div class="col-4" >
                                    <circle-progress 
                                        [percent]="90" 
                                        [radius]="60" 
                                        [outerStrokeWidth]="10" 
                                        [outerStrokeColor]="'#4882c2'" 
                                        [animation]="true" 
                                        [subtitle]="'Confidence'"
                                        [animationDuration]="300">
                                      </circle-progress>
                                      <p class="sub_titles"><b>+30%</b>
                                      1 Month</p>
                                    </div>
                          
                                    <div class="col-4" >
                                        <circle-progress 
                                          [percent]="90" 
                                          [radius]="60" 
                                          [outerStrokeWidth]="10" 
                                          [outerStrokeColor]="'#f25f5c'" 
                                          [animation]="true" 
                                          [subtitle]="'Confidence'"
                                          [animationDuration]="300">
                                        </circle-progress>
                                        
                                          <p class="sub_titles"><b>+45%</b>
                                         3 Months</p>
                                   </div>
                                  </div>
                          
                                <mat-divider [inset]="true"></mat-divider>
                                 <div class=" row card-body text-center">
                                 
                                    <div class="row justify-content-center align-self-center col-3"> 
                                     <span  style=" color: #4a4a4a; font-size:18px">Viscosity</span>
                                    </div>
                                    <div class="col-4" >
                                   
                                      <circle-progress 
                                        [percent]="90" 
                                        [radius]="60" 
                                        [outerStrokeWidth]="10" 
                                        [outerStrokeColor]="'#4882c2'" 
                                        [animation]="true" 
                                        [subtitle]="'Confidence'"
                                        [animationDuration]="300">
                                      </circle-progress>
                                      <p class="sub_titles"><b>+40%</b>
                                      1 Month</p>
                                    </div>
                          
                                    <div class="row col-4" >
                                     
                                        <circle-progress 
                                          [percent]="90" 
                                          [radius]="60" 
                                          [outerStrokeWidth]="10" 
                                          [outerStrokeColor]="'#f25f5c'" 
                                          [animation]="true" 
                                          [subtitle]="'Confidence'"
                                          [animationDuration]="300">
                                        </circle-progress>
                                       
                                          <p class="sub_titles"><b>+45%</b>
                                          3 Months</p>
                                        </div>
                                      

                                  </div>
                                </div>
                              </div>


                            </div>
                          
                            <br>
                          
                            <div class="row">
                              <div class="col-6">
                                <div class="card" >
                                    <h4 class="card-title p-4 titles">oC/75% RH</h4>
                                  <div class="row card-body text-center">
                                    <div class="row justify-content-center align-self-center col-2"> 
                                          <span  style=" color: #4a4a4a; font-size:18px">pH</span>
                                         </div>
                                    <div class="col-4" >
                                     <circle-progress 
                                        [percent]="90" 
                                        [radius]="60" 
                                        [outerStrokeWidth]="10" 
                                        [outerStrokeColor]="'#4882c2'" 
                                        [animation]="true" 
                                        [subtitle]="'Confidence'"
                                        [animationDuration]="300">
                                      </circle-progress>
                                      <p class="sub_titles"><b>+30%</b>
                                      1 Month</p>
                                    </div>
                          
                                    <div class="col-4">
                                   <circle-progress 
                                          [percent]="90" 
                                          [radius]="60" 
                                          [outerStrokeWidth]="10" 
                                          [outerStrokeColor]="'#f25f5c'" 
                                          [animation]="true" 
                                          [subtitle]="'Confidence'"
                                          [animationDuration]="300">
                                        </circle-progress>
                                        
                                          <p class="sub_titles"><b>+45%</b>
                                         3 Months</p>
                                       
                                    </div>
                                  </div>
                          
                                 <mat-divider [inset]="true"></mat-divider>
                                 
                          
                                  <div class=" row card-body text-center">
                                      <div class="row justify-content-center align-self-center col-2"> 
                                          <span   style=" color: #4a4a4a; font-size:18px">Viscosity</span>
                                      </div>
                                    <div class="col-4" >
                                     <circle-progress 
                                        [percent]="90" 
                                        [radius]="60" 
                                        [outerStrokeWidth]="10" 
                                        [outerStrokeColor]="'#4882c2'" 
                                        [animation]="true" 
                                        [subtitle]="'Confidence'"
                                        [animationDuration]="300">
                                      </circle-progress>
                                      <p class="sub_titles"><b>+40%</b>
                                     1 Month</p>
                                    </div>
                          
                                  
                                      <div class="col-4">
                                        <circle-progress 
                                          [percent]="90" 
                                          [radius]="60" 
                                          [outerStrokeWidth]="10" 
                                          [outerStrokeColor]="'#f25f5c'" 
                                          [animation]="true" 
                                          [subtitle]="'Confidence'"
                                          [animationDuration]="300">
                                        </circle-progress>
                                           <p  class="sub_titles"><b>+45%</b>
                                          3 Months</p>
                                        </div>
                                   </div>
                                </div>
                              </div>
                          
                              <div class="col-6">
                                <div class="card">
                                    <h4 class="card-title p-4 titles">oF/T-15Cto o40 C</h4>
                                  <div class="row card-body text-center">
                                     <div class="row justify-content-center align-self-center col-4"> 
                                          <span  style=" color: #4a4a4a; font-size:18px">pH</span>
                                         </div>
                                    <div class="col-4">
                                      <circle-progress 
                                        [percent]="90" 
                                        [radius]="60" 
                                        [outerStrokeWidth]="10" 
                                        [outerStrokeColor]="'#4882c2'" 
                                        [animation]="true" 
                                        [subtitle]="'Confidence'"
                                        [animationDuration]="300">
                                      </circle-progress>
                                      <p class="sub_titles"><b>+30%</b>
                                      3 cycles</p>
                                    </div>
                                  </div>
                          
                                  <mat-divider [inset]="true"></mat-divider>
                          
                                  <div class="row card-body text-center">
                                      <div class="row justify-content-center align-self-center col-4"> 
                                          <span  style="font-weight:100;  font-size:20px">Viscosity</span>
                                       </div>
                                    <div class="col-4" >
                                    <circle-progress 
                                        [percent]="90" 
                                        [radius]="60" 
                                        [outerStrokeWidth]="10" 
                                        [outerStrokeColor]="'#f25f5c'" 
                                        [animation]="true" 
                                        [subtitle]="'Confidence'"
                                        [animationDuration]="300">
                                      </circle-progress>
                                      <p class="sub_titles"><b>+40%</b>
                                      3 cycles</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                        
                    
                    <div id="processing" class="spinner_class" *ngIf="loader">
                      <mat-spinner [diameter]="60" style="right:50%;left:50%;z-index: 1000"></mat-spinner>
                    </div>
                  </div>
                 </div>
                </div>
           </div>
         </div>
    </div>
  
  
  
  </div>